<div class="header flex-space">
    <div class="left-header flex-center bold">ACADEMIC PLANNING</div>
    <div class="dropbtn" onclick="signOut()">Sign Out</div>
</div>
<p id="notice"><%= notice %></p>
<div class="upper centerTop flex-col indexBody">
    <div class="sub-header quad-header flex-row flex-center">
        <div class="name">Plans</div>
    </div>
    <div class="sub-content flex-center flex-col">
        <table>
          <thead>
            <tr>
              <th colspan="1">Name</th>
              <th colspan="1">Plan</th>
              <th colspan="1">Actions</th>
            </tr>
          </thead>

          <tbody>
            <% @plans.each do |plan| %>
              <tr>
                <td class="indexTable"><%= plan.user.realName %></td>
                <td class="indexTable"><%= link_to plan.name, plan %></td>
                <td class="indexTable">
                    <%= link_to 'Edit', edit_plan_path(plan) %> &nbsp &nbsp &nbsp &nbsp &nbsp
                    <%= link_to 'Destroy', plan, method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <br>
        <%= link_to 'New Plan', new_plan_path %>
    </div>
</div>
